.home-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.home-page-second-row {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 16px;
}

/* .home-page-second-row > * { */
/*     flex: 1; */
/* } */
