.sidebar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 24px;
  padding-top: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #828282;
}

.sidebar-item {
  display: flex;
  /* align-items: center; */
  gap: 5px;
  padding: 16px 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-item:hover {
  background-color: #d3d8de;
}

/* .new-booking-btn {
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.new-booking-btn:hover {
  background-color: #0056b3;
} */

