.bookings-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* change this when there is a booking table component */
    border: 1px solid #ccc;
}

.bookings-header-item {
    word-wrap: unset;
    padding: 12px;
}