.bookings-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.bookings-header-item {
    word-wrap: unset;
    padding: 12px;
}