.new-customer-container {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #e0e0e0;
    max-width: 450px;
    min-width: 300px;
    height: 175px;
    min-height: 170px;
}

.new-customer-customer-name-input {
    font-size: 16px !important;
    padding: 15px 20px !important;
    margin: 0px !important;
}

.new-customer-container input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

.new-customer-information-header {
    font-weight: 600;
    margin-bottom: 16px;
}

.new-customer-information-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.new-customer-subheader-span {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 4px;
}

.new-customer-save-button {
    display: flex;
    justify-self: right;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}