#status-box {
    padding: 10px 10px;
    font-weight: 600;
    border-radius: 20px;
    width: fit-content;
}

.complete {
    background-color: #bfecac;
    color: #00bf63;
}

.pending {
    background-color: #d9d9d9;
    color: #6e7075;
}