.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    /* padding: 20px 36px; */
    /* padding-top: 30px; */
    padding: 26px 0px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 36px;
    font-weight: bold;
}

.logo img {
    width: 55px;
}


.circle {
  width: 45px;
  height: 45px;
  background-color: var(--blue);
  border-radius: 50%; /* This makes the square into a circle */

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
}

.role {
    font-size: 12px;
    color: var(--grey);
}