.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.appBody {
  display: flex;
  flex: 1;
  min-height: 0; /* critical for scrolling */
}

.appMain {
  flex: 1;
  background-color: #edf1f5;
  padding: 16px;
  overflow: auto;
}