.bar {
     display: flex;
     background: #ffffff;
     border-radius: 16px;
     padding: 2rem 0rem;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
     /* temp solution */
     min-width: 687px; 
     margin-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 1.5rem;
  gap: 0.5rem;
}

/* Vertical divider */
.card:not(:last-child) {
  border-right: 2px solid var(--lightGrey);
}

.label {
  font-size: 0.9rem;
  color: var(--grey);
  font-weight: bold;
}

.value {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000000;
}

.dollar {
     color: var(--lightGrey);
     padding-right: 3px;
}
