:root {
    --blue: #497afc;
    --grey: #6e7075;
    --lightGrey: #d9d9d9;
    --white: #ffffff;
    --background: #edf1f5;
}

* {
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}